@page
@model OrderManager

@{
    Layout = "_LayoutAdmin";
}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th>
                        Receiver
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        OrderDate
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Order)
                {
                    <tr>
                        <td>
                            <i>
                                @item.ReceiverName
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.Address
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.PhoneNumber
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.TotalAmount
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.OrderDate
                            </i>
                        </td>
                        <td class="project-actions text-right">
                            <a asp-page="./OrderDetailManager" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="pagination pagination-month justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">«</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->