@page
@using DataAccess.Model
@model Presentation.Pages.Admin.ProductManager

@{
    Layout = "_LayoutAdmin";
}

<section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Enhanced Search</h2>
            <form method="get">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                           
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Sort Order:</label>
                                    <select class="select2" style="width: 100%;">
                                        <option selected value="@SortDirection.Asc">ASC</option>
                                        <option value="@SortDirection.Desc">DESC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Order By:</label>
                                    <select class="select2" style="width: 100%;">
                                        <option selected value="@UserSortField.Username">@UserSortField.Username</option>
                                        <option value="@UserSortField.Email">@UserSortField.Email</option>
                                        <option value="@UserSortField.Status">@UserSortField.Status</option>
                                        <option value="@UserSortField.Birthdate">@UserSortField.Birthdate</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" class="form-control form-control-lg" placeholder="Username" name="Username" value="Lorem ipsum">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Isbn
                    </th>
                    <th>
                        StockQuantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            <i>
                                @item.Title
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.Author
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.Category.Name
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.Isbn
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.StockQuantity
                            </i>
                        </td>
                        <td>
                            <i>
                                @item.Price
                            </i>
                        </td>
                        <td class="project-actions text-right">
                            <a asp-page="" asp-route-id="@item.BookId" class="btn btn-primary btn-sm">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="pagination pagination-month justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">«</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->