<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
          name="description">

    <!-- title -->
    <title>@ViewData["Title"]</title>
    <!-- button-->
    <link href="css/button.css" rel="stylesheet">
    <!-- favicon -->
    <link href="img/favicon.png" rel="shortcut icon" type="image/png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link href="css/all.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- owl carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <!-- magnific popup -->
    <link href="css/magnific-popup.css" rel="stylesheet">
    <!-- animate css -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- mean menu css -->
    <link href="css/meanmenu.min.css" rel="stylesheet">
    <!-- main style -->
    <link href="css/main.css" rel="stylesheet">
    <!-- responsive -->
    <link href="css/responsive.css" rel="stylesheet">

</head>
<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="imgstorebook/240_F_405931625_dtLZDca2FCBTefOyKNFwL1cpLJEDFDIj_preview_rev_1.jpg" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="Home">Home</a>
                            </li>
                            <li>
                                <a href="Shop">Shop</a>
                            </li>
                                <li>
                                    @if (@Context.Session.GetString("UserID") == null)
                                    {
                                        <a asp-page="/LoginPage"><i class="fa fa-user" aria-hidden="true"></i></a>
                                    }
                                    else if (@Context.Session.GetString("UserID") != null)
                                    {
                                        <div class="header-icons">
                                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i>   @Context.Session.GetString("UserName")</a>
                                            <ul class="sub-menu">
                                                <li><a asp-page="/Profile/ProfileIndex">Profile</a></li>
                                                <li><a asp-page-handler="Logout" asp-route-handler="OnGetLogout">Logout</a></li>
                                            </ul>
                                        </div>
                                    }
                                </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="Cart">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <a class="mobile-hide search-bar-icon" href="#">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end header -->

<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn">
                    <i class="fas fa-window-close"></i>
                </span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <form method="get" action="Shop">
                            <h3>Search For:</h3>
                            <input placeholder="Keywords" name="title" type="text">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Attractive & Science Fiction</p>
                        <h1>@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
@RenderBody()
<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>
                        Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                        <li>support@fruitkha.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li>
                            <a href="Home">Home</a>
                        </li>
                        <li>
                            <a href="Shop">Shop</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input placeholder="Email" type="email">
                        <button type="submit">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
                    Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="js/waypoints.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="js/sticker.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>