@page
@using System.Reflection
@using DataAccess.Model
@model CheckOut
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "CheckOut";

    var categories = typeof(BookCategory).GetFields(
        BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)
        .Where(info => info is { IsLiteral: true, IsInitOnly: false })
        .Select(info => info.GetRawConstantValue()?.ToString())
        .ToList();
}

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                            data-target="#collapseOne" data-toggle="collapse" type="button">
                                        Default Address
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample"
                                 id="collapseOne">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form asp-page-handler="Default">
                                            <p>
                                                <input placeholder="Name" type="text" value="@Model.User.Firstname @Model.User.Lastname" readonly>
                                            </p>
                                            <p>
                                                <input placeholder="Address" type="text" value="@Model.User.Address" readonly>
                                            </p>
                                            <p>
                                                <input placeholder="Phone" type="text" value="@Model.User.PhoneNumber" readonly>
                                            </p>
                                            <p>
                                                <label asp-for="receiver.PaymentMethod" class="control-label"></label>  
                                                <select asp-for="receiver.PaymentMethod" class="text-danger">
                                                    <option value="COD">In cash</option>
                                                </select>
                                            </p>
                                            <button class="btn_nha" type="submit"> Order </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card single-accordion">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                                            data-target="#collapseTwo" data-toggle="collapse" type="button">
                                        Other Address
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample"
                                 id="collapseTwo">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form method="post" asp-page-handler="Other">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="receiver.ReceiverName" class="control-label"></label>
                                                <input asp-for="receiver.ReceiverName" required="required" class="form-control"/>
                                                <span asp-validation-for="receiver.ReceiverName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="receiver.Address" class="control-label"></label>
                                                <input asp-for="receiver.Address" required="required" class="form-control"/>
                                                <span asp-validation-for="receiver.Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="receiver.PhoneNumber" class="control-label"></label>
                                                <input asp-for="receiver.PhoneNumber" type="tel" pattern="[0-9]{10}" required title="Please enter a 10-digit phone number" class="form-control" />
                                                <span asp-validation-for="receiver.PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                    <label asp-for="receiver.PaymentMethod" class="control-label"></label>
                                                    <select asp-for="receiver.PaymentMethod" class="text-danger">
                                                        <option value="COD">In cash</option>
                                                    </select>
                                            </div>
                                            <button class="btn_nha" type="submit"> Order </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card single-accordion">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseThree" aria-expanded="false"
                                            class="btn btn-link collapsed"
                                            data-target="#collapseThree" data-toggle="collapse"
                                            type="button">
                                        Card Details
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample"
                                 id="collapseThree">
                                <div class="card-body">
                                    <div class="card-details">
                                        <div class="cart-table-wrap">
                                            <table class="cart-table">
                                                <thead class="cart-table-head">
                                                <tr class="table-head-row">
                                                    <th class="product-image">Product Image</th>
                                                    <th class="product-name">Name</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-quantity">Quantity</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var item in Model.Carts)
                                                {
                                                    <tr class="table-body-row">
                                                        <td class="product-image">
                                                            <img alt="" src="@item.ImageUrl">
                                                        </td>
                                                        <td class="product-name">@item.Title</td>
                                                        <td class="product-price">$@item.Price</td>
                                                        <td class="product-quantity">@item.StockQuantity</td>
                                                        <td class="product-total">$@(item.Price * item.StockQuantity)</td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                        <tr>
                            <th>Your order Details</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody class="order-details-body">
                        <tr>
                            <td>Product</td>
                            <td>Total</td>
                        </tr>
                        @foreach (var item in Model.Carts)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                        <tr>
                            <td>Total</td>
                            <td>@Model.Total</td>
                        </tr>
                        </tbody>
                    </table>
                    <form method="post" asp-page-handler="Cancel">
                        <button class="btn_nha" href="#">Cancel</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/1.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/2.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/3.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/4.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->