@page
@using System.Reflection
@using DataAccess.Model
@model Shop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Shop";

    var categories = typeof(BookCategory).GetFields(
            BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)
        .Where(info => info is { IsLiteral: true, IsInitOnly: false })
        .Select(info => info.GetRawConstantValue()?.ToString())
        .ToList();
}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Attractive & Science Fiction</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        @foreach (var item in categories)
                        {
                            <li class="@(Model.Category == item ? "active" : "")">
                                <a asp-page="./Shop" asp-route-category="@item">@(item == "" ? "All" : item)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            @if (Model.Book == null || Model.Book.Count == 0)
            {
                <div class="full-height-section error-section">
                    <div class="full-height-tablecell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2 text-center">
                                    <div class="error-text">
                                        <i class="far fa-sad-cry"></i>
                                        <h1>Oops! Not Found.</h1>
                                        <p>How about finding something else?</p>
                                        <a class="boxed-btn" href="index.html">Back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in Model.Book)
                {
                    <div class="col-lg-4 col-md-6 text-center">

                        <div class="single-product-item">
                            <form method="post" asp-page-handler="AddToCart">
                                <input type="hidden" name="Id" value="@item.BookId"/>
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img alt=""
                                             src="imgstorebook/author-book-store-book-cover-06.jpg">
                                    </a>
                                </div>
                                <h3>@item.Title</h3>
                                <p class="product-price"><span>Per 1</span> @item.Price$ </p>
                                <button type="submit" class="btn_nha"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        @for (var i = 1; i < Model.TotalPages; i++)
                        {
                            <li>
                                <a class="@(i == Model.CurrentPage ? "active" : "")" asp-route-currentpage="@i"asp-route-category="@Model.Category" asp-page="./Shop" asp-route-title="@Model.Title">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/1.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/2.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/3.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/4.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="img/company-logos/5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->{