@page
@using DataAccess.Model
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<form method="get">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" asp-for="Title" id="title" name="title"/>
        </div>
        <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select class="form-control" asp-for="Category" id="category" name="category">
                <option value="">All</option>
                <option value="@BookCategory.Engineering">Engineering</option>
                <option value="@BookCategory.Science">Science</option>
                <option value="@BookCategory.Literature">Literature</option>
                <option value="@BookCategory.Programming">Programming</option>
                <option value="@BookCategory.SelfHelp">Self Help</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="sortBy">Sort By</label>
        <select class="form-control" asp-for="SortBy" id="sortBy" name="sortBy">
            <option value="@SortField.Title">Title</option>
            <option value="@SortField.Category">Category</option>
            <option value="@SortField.Price">Author</option>
            <option value="@SortField.Status">Status</option>
            <option value="@SortField.Stock">Stock</option>
            <option value="@SortField.Date">Date</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sortOrder">Sort Direction</label>
        <div class="form-check">
            <input class="form-check-input" asp-for="SortOrder" type="radio" name="sortOrder" id="asc" checked="checked" value="@SortDirection.Asc">
            <label class="form-check-label" for="asc">Ascending</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="SortOrder" name="sortOrder" id="desc" value="@SortDirection.Desc">
            <label class="form-check-label" for="desc">Descending</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model.Book == null || Model.Book.Count == 0)
{
    <p>No book found</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Category)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-currentpage="@i" asp-route-title="@Model.Title" asp-route-category="@Model.Category" asp-route-sortby="@Model.SortBy" asp-route-sortdirection="@Model.SortOrder">@i</a>
            </li>
        }
    </ul>
}