@page
@model ProfileIndexModel
@{
    ViewData["Title"] = "ProfileIndex";
    Layout = "_LayoutProfile";
}
<style>
    .table-container {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: auto; /* Hiển thị thanh cuộn ngang khi cần thiết */
    }

    .table {
        width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của container */
    }
</style>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="imgstorebook/240_F_405931625_dtLZDca2FCBTefOyKNFwL1cpLJEDFDIj_preview_rev_1.jpg" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item">
                                <a href="Home">Home</a>
                            </li>
                            <li>
                                <a href="Shop">Shop</a>
                            </li>
                                <li>
                                    @if (@HttpContext.Session.GetString("UserID") == null)
                                    {
                                        <a asp-page="/LoginPage"><i class="fa fa-user" aria-hidden="true"></i></a>
                                    }
                                    else if (@HttpContext.Session.GetString("UserID") != null)
                                    {
                                        <div class="header-icons">
                                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i>   @HttpContext.Session.GetString("UserName")</a>
                                            <ul class="sub-menu">
                                                <li><a asp-page="/Profile/ProfileIndex">Profile</a></li>
                                                <li><a asp-page-handler="Logout" asp-route-handler="OnGetLogout">Logout</a></li>
                                            </ul>
                                        </div>
                                    }
                                </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="/Cart">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <a class="mobile-hide search-bar-icon" href="#">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn">
                    <i class="fas fa-window-close"></i>
                </span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input placeholder="Keywords" type="text">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Check Out Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
<div class="container">
<div class="row">
<div class="col-lg-8">
    <div class="checkout-accordion-wrap">
        <div class="accordion" id="accordionExample">
            <div class="card single-accordion">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                data-target="#collapseOne" data-toggle="collapse" type="button">
                            Profile Details
                        </button>
                    </h5>
                </div>

                <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample"
                     id="collapseOne">
                    <div class="card-body">
                        <div class="billing-address-form">
                            <form method="post">
                                <p>
                                    <label asp-for="Users.Username" class="control-label"></label>
                                    <input asp-for="Users.Username" class="form-control" readonly="readonly"/>
                                    <span asp-validation-for="Users.Username" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.Email" class="control-label"></label>
                                    <input asp-for="Users.Email" class="form-control" readonly="readonly"/>
                                    <span asp-validation-for="Users.Email" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.Birthdate" class="control-label"></label>
                                    <input asp-for="Users.Birthdate" type="date" class="form-control" readonly="readonly"/>
                                    <span asp-validation-for="Users.Birthdate" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.Firstname" class="control-label"></label>
                                    <input asp-for="Users.Firstname" class="form-control"/>
                                    <span asp-validation-for="Users.Firstname" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.Lastname" class="control-label"></label>
                                    <input asp-for="Users.Lastname" class="form-control"/>
                                    <span asp-validation-for="Users.Lastname" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.City" class="control-label"></label>
                                    <input asp-for="Users.City" class="form-control"/>
                                    <span asp-validation-for="Users.City" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.Address" class="control-label"></label>
                                    <input asp-for="Users.Address" class="form-control"/>
                                    <span asp-validation-for="Users.Address" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="Users.PhoneNumber" class="control-label"></label>
                                    <input asp-for="Users.PhoneNumber" class="form-control"/>
                                    <span asp-validation-for="Users.PhoneNumber" class="text-danger"></span>
                                </p>
                                <button type="submit" value="Save" class="boxed-btn">Update Profile</button>
                                <div class="form-group text-danger">
                                    @ViewData["notification"]
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card single-accordion">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button aria-controls="collapseTwo" aria-expanded="false"
                                class="btn btn-link collapsed"
                                data-target="#collapseTwo" data-toggle="collapse"
                                type="button">
                            Orders History
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingTwo" class="collapse show" data-parent="#accordionExample"
                     id="collapseTwo">
                    <div class="card-body">
                        <div class="shipping-address-form">
                            <div class="table-container">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].TotalAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].ReceiverName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].PaymentMethod)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].OrderDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.orders[0].DeliveryDate)
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.orders)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReceiverName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeliveryDate)
                                            </td>
                                            <td>
                                                <a asp-route-id="@item.OrderId" asp-route-handler="OrderDetails" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-folder">View</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="card single-accordion">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseThree" aria-expanded="false"
                                            class="btn btn-link collapsed"
                                            data-target="#collapseThree" data-toggle="collapse"
                                            type="button">
                                        Card Details
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample"
                                 id="collapseThree">
                                <div class="card-body">
                                    <div class="card-details">
                                        <p>Your card details goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
        </div>

    </div>
</div>

<div class="col-lg-4">
    <div class="card single-accordion">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button aria-controls="collapseThree" aria-expanded="false"
                        class="btn btn-link collapsed"
                        data-target="#collapseThree" data-toggle="collapse"
                        type="button">
                    Order Details
                </button>
            </h5>
        </div>
        <div aria-labelledby="headingThree" class="collapse show" data-parent="#accordionExample"
             id="collapseThree">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Book)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.OrderDetail)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <a class="boxed-btn" href="#">Cancel Order</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- end check out section -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img alt="" src="/img/company-logos/1.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="/img/company-logos/2.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="/img/company-logos/3.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="/img/company-logos/4.png">
                    </div>
                    <div class="single-logo-item">
                        <img alt="" src="/img/company-logos/5.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>
                        Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                        <li>support@fruitkha.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="services.html">Shop</a>
                        </li>
                        <li>
                            <a href="news.html">News</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input placeholder="Email" type="email">
                        <button type="submit">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
                    Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->